.numberCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    background: var(--white);
    color: white;
    text-align: center;
    position: relative;
    transition: all 1s ease;
}

.container {
    display: flex;
    align-items: center;
    line-height: 0.45rem;
}
.progressLabel {
    width: 35%;
}

.label {
    font-family: "Mono-Light";
    color: var(--white);
    opacity: 0.9;
    font-weight: normal;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-size: 12px;
}

.progressDiv {
    border-radius: 0.5rem;
    position: relative;
    width: 20px;
}

.progress {
    background-color: #fff;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
    max-width: 2px;
    left: 6px;
    position: relative;
    &:hover {
        background: rgb(201, 199, 199);
    }
}


