.levelAverageWrap {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    .levelAverageHeaderWrap {
        flex-grow: 1;
    }
    .levelAverageValuesWrapper {
        display: flex;
        height: 120px;
    }
    .numberWrap {
        display: flex;
        gap: 1rem;
        flex: 1;
        height: 100%;
        .value {
            color: var(--white);
            font-size: 7rem;
            font-weight: lighter;
            font-family: GT-LIGHT;
            opacity: 0.9;
            margin-top: auto;
            width: 100%;
        }
    }
    .averageWrap {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .text {
            color: var(--white);
            font-weight: lighter;
            font-size: 0.8rem;
            font-family: "GT-LIGHT";
            opacity: 0.9;
            margin: 0px;
            padding: 0px;
            &:nth-of-type(2) {
                font-weight: bold;
                padding-top: 0.5rem;
                font-size: 2rem;
            }
        }
    }
}
