.card {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 1rem;
    .infoWrap {
        .title {
            color: var(--white);
            font-size: 1.8rem;
            font-weight: lighter;
            font-family: "GT-ULTRA-LIGHT";
            margin: 0px;
            padding: 0px;
            .subTitle {
                font-size: 14px;
                background: #f1f1f1;
                font-weight: bold;
                color: #000;
                border-radius: 3px;
                padding: 0.2rem 0.3rem;
            }
        }
        .time {
            opacity: 0.6;
            color: var(--white);
            font-size: 10px;
            letter-spacing: 1px;
            margin: 0px;
            padding: 0px;
        }
    }
    .imgWrap {
        margin-left: auto;
        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}
