.input {
    background: transparent;
    padding: 0.8em 1em;
    border: none;
    border-radius: 50px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid transparent;
    font-size: 1rem;
    transition: all 300ms;
    width: 100%;
    font-weight: lighter;
    text-transform: capitalize;
    &:focus {
        border: 1px solid var(--white);
        outline: none;
    }
    &::placeholder {
        color: #fff;
        opacity: 0.7;
    }
}

.suggestions {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(14px);
    border: 1px solid transparent;
    border-radius: 8px;
    border-radius: 5px;
    margin: 0.5rem 0rem;
    padding: 1rem 1rem;
    list-style-type: none;
    position: absolute;
    z-index: 1000;
    top: 45px;
    width: 100%;
}

.suggestions li::before {
    content: "";
}

.suggestions li {
    padding: 10px 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

.suggestions li:hover {
    background-color: rgba(221, 221, 221, 0.13);
    text-decoration: none;
}
