.container {
    padding: 0.5rem 1rem;
}
.title {
    font-family: "Mono-Light";
    color: var(--white);
    opacity: 0.9;
    font-weight: normal;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    height: 100%;
}
