.title {
    font-family: "Mono-Light";
    color: var(--white);
    opacity: 0.9;
    font-weight: normal;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    height: 100%;
}
.subTitle {
    padding: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 0.7rem;
    font-family: "Mono-Light";
    color: var(--white);
    text-transform: uppercase;
    opacity: 0.9;
    font-weight: normal;
}
