.item {
    border-radius: 50px;
    background: #1f1f1f;
    position: relative;
    width: 0.6rem;
    height: 2rem;
}

.active {
    &:nth-of-type(1),
    &:nth-of-type(2) {
        background: rgb(51, 130, 91);
    }
    &:nth-of-type(3),
    &:nth-of-type(4) {
        background: rgb(68, 174, 114);
    }
    &:nth-of-type(5),
    &:nth-of-type(6) {
        background: rgb(250, 200, 74);
    }
    &:nth-of-type(7),
    &:nth-of-type(8) {
        background: rgb(192 15 54);
    }
    &:nth-of-type(9),
    &:nth-of-type(10) {
        background: rgb(231, 8, 56);
    }
}
