.homeContainer {
  // background-image: linear-gradient(to top, rgba(3, 3, 7, 0.747) 0%, rgb(0, 0, 0) 85%), url(/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  max-width: 100%;
  height: 100vh;
  padding: 3rem 1rem;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  box-shadow: inset 0px 20px 3500px 280px rgba(0, 0, 0, 0.6);
  background-image: url(/home-bg.png);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.5rem;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  gap: 2rem;
}

.reports {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  .latestAlertsContainer {
    // height: 30rem;
  }
  .trendAndRiskContainer {
    .trendContainer {
      height: 45%;
    }
    .riskBreakDownContainer {
      margin-top: 1.5rem;
    }
  }
}
@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 50%;
    gap: 8rem;
  }
}
@media screen and (min-width: 1400px) {
  .homeContainer {
    // background-image: linear-gradient(to top, rgba(3, 3, 7, 0.082) 0%, rgb(0, 0, 0) 85%),
  }

  .reports {
    grid-template-columns: 359px 235px;
  }
}
