.homeContainer {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 105vh;
  padding: 2rem 1rem;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  background-attachment: fixed;
  box-shadow: inset 0px 20px 3500px 280px rgba(0, 0, 0, 0.6);
  background-image: url(/home-bg.png);
}

.prevNextWrapper {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.5rem;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  gap: 3.5rem;
  margin-top: 3.5rem;
}

.reports {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  .latestAlertsWrapper {
    position: relative;
    .reportsHeader {
      position: absolute;
      top: -45px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .reportsHeaderTitleWrap p {
        color: #fff;
        font-family: "Mono-Light";
        font-size: 14px;
      }
    }
  }
  .trendAndRiskContainer {
    .trendContainer {
      height: 45%;
    }
    .riskBreakDownContainer {
      margin-top: 1.5rem;
    }
  }
}
@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 55%;
    gap: 8rem;
  }
}
@media screen and (min-width: 1400px) {
  .reports {
    grid-auto-flow: column;
  }
  .homeContainer {
  }

  .reports {
    grid-template-columns: 400px 310px;
  }
}
